*{
	margin: 0;
	padding: 0;
}

.clearfix{

}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.placeholder{
	width: 300px;
	height: 150px;
}

li .placeholder{
	background-color: rgba(255, 255, 0, 0.5);
}

li{
	list-style: none;
	float: left;
}